* {
	font-family: Segoe UI, Verdana, Arial, sans-serif;
}

div#wrapper {
	background-color: #fff;
}

div#navtop {
	position: fixed;
	display: block;
	background-color: #0083cb;
	height: 3rem;
	z-index: 100;
	border: 0;
	padding-left: 44.41px;
}

div.main_searchbar {
	margin-top: 0.8rem;
}

#navtop ul {
	height: 3rem;
	width: 641px;
}

#navtop li {
	height: calc(100%);
	display: block;
	border-right: solid 2px #fff;
	padding-left: 0.75%;
	padding-right: 0.75%;
	background-color: #0083cb;
}

#wrapper {
	margin-top: 0;
}

.submenu_ext {
	padding-top: 3rem;
	position: fixed;
	width: 100vw;
	z-index: 99;
	background-color: #62aede;
}

.ad_child {
	display: none;
}

#navtop a {
	line-height: 3rem;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1.125rem;
}

#navtop a:hover {
	background: none;
}

#navtop li:hover {
	background-color: #0669a1;
}

#navtop li.sub {
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	border-right: solid 2px #fff;
	height: 3rem;
}

#navtop a.sub {
	padding-bottom: 0;
	margin-left: 0;
}

#navtop a.sub > *, #navtop a.sub {
	height: 3rem;
	padding-top: 0;
	font-size: 1.125rem;
}

#navtop a.sub:hover {
	background-color: #0669a1;
}

span#logotext {
	display: none;
}

img#rstar {
	height: 2.55rem;
	width: auto;
	margin-top: 0.225rem;
}

div#frontcontentheader {
    height: 19rem;
    background-image: url(https://i.imgur.com/wyZqKqC.png);
    background-size: cover;
    background-position: 0 bottom;
    z-index: 1;
    background-repeat: repeat-x;
    padding-top: calc(2.25rem + 86px);
    background-color: #fff;
}

div#headleft {
    float: left;
}

div#frontcontentheader img {
    margin-left: 3.75rem;
    float: left;
    z-index: 1;
    display: table-cell;
    background-color: #6ab3e1;
    height: 15rem;
}

div#headright {
    margin-left: 24.75rem;
    transform: translateY(5%);
}

div#welcome {
    padding-right: 1vw;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
}

div#welcome h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
}

div#frontcontentheader div#welcome #loginthing {
    border-radius: 7px;
    color: #6cb5e2;
    background-color: #fff;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    transform: translateY(15%);
}

div#content {
	padding-top: 6rem;
}

div.helplink {
	display: none;
}

div.submenu_ext div.submenu {
	padding-top: 6px;
	padding-bottom: 6px;
	color: #f0f0f0;
}

div.submenu_ext div.submenu > a {
	color: #fff;
	font-weight: 500;
}

div.row > div.frontpage_column:nth-child(1) {
	padding-right: 2.5%!important;
}

div.row > div.frontpage_column:nth-child(2) {
	padding-left: 2.5%!important;
}

div.frontpage_column div.bubble_header {
	background: #fff;
	font-size: 1.5rem;
	padding-bottom: 0.3333rem;
}

div.frontpage_column div.bubble_header span {
	display: none;
}

div.page_home_feature_header h2 {
	text-align: left;
	border-bottom: none;
	margin: 0;
	padding: 10px;
	padding-bottom: 0.3333rem;
	font-weight: 700;
}

div.frontpage_column table.mbgen {
	margin-bottom: 0;
	border-radius: 7px;
}

div.frontpage_column:nth-child(1) table.mbgen {
	display: none;
} 

div.frontpage_column table.mbgen td, div.frontpage_column table.mbgen {
	border: 0;
	background-color: #f0f0f0;
}

div.frontpage_column div.bubble_content {
	padding-bottom: 0;
	background-color: #fff;
	border-radius: 7px;
}

div.frontpage_column div.bubble_content div, div.frontpage_column table.mbgen {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

#latest_td2 {
	border-top-left-radius: 7px;
}

#latest_td1 {
	border-top-right-radius: 7px;
}

div.frontpage_column div[id^=review] {
	background-color: #f8f8f8;
	border-radius: 7px;
	padding: 0.75rem;
	padding-top: calc(2.25rem + 150px);
}

div.or_card_frame {
	width: 100%;
	margin: 0;
	background: #f0f0f0;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

div.or_card_frame > a {
	display: block;
	float: left;
}

div.or_card_frame > a > img {
	margin: 0.75rem;
	border-radius: 7px;
}

b.rtop, b.rbottom {
	display: none;
}

div.frontpage_column div.track_rating_header {
	display: none;
}

a.card_link_bg, span.card_small {
	color: #008!important;
	font-size: 0.76875rem;
	font-style: italic;
}

span.card_link {
	display: block;
	text-align: left;
	margin-top: 0.75rem;
}

span.card_link > em > a {
	font-size: 1.025rem;
	font-style: normal!important;
}

span.card_link > em > a:hover {
	font-size: 1.025rem;
	font-style: normal!important;
}

span.card_link > span.card_small:after {
	content: "\A\A~";
	white-space: pre;
	font-size: 1.025rem;
    font-style: normal;
    font-weight: 500;
    color: #000;
}

span.card_link a.user:after {
	content: "\A";
	white-space: pre;
	font-size: 1.025rem;
    font-style: normal;
    font-weight: 500;
    color: #000;
}

span.card_link a.usero:after {
	content: "\A";
	white-space: pre;
	font-size: 1.025rem;
    font-style: normal;
    font-weight: 500;
    color: #000;
}

span.card_link > a {
	font-size: 1.025rem;
	font-style: normal;
	font-weight: 500;
}

span.card_link > a:hover {
	font-size: 1.025rem;
	font-style: normal;
	font-weight: 500;
}

div#frontcontentheader + #content > table {
	display: none;
}

#content > div.row > div:nth-child(2) {
	transform: translateY(-12px);
}

div.page_home_feature img {
	border-radius: 7px;
}

img[id^=latest] {
	border-radius: 7px;
}

a.page_home_feature_link {
	font-weight: 700;
}

#latest_td2b {
	border-bottom-left-radius: 7px;
}

#latest_td1b {
	border-bottom-right-radius: 7px;
}

#content > div.row > div:nth-child(2) > div:nth-child(5) > div > table > tbody > hr:nth-child(6) {
	display: none;
}